@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

button {
  font-family: 'Roboto', sans-serif;
}

.container {
  padding: 0px 20px;
}

.page-title {
  display: flex;
  flex-direction: column;
}

.page-title > h1, h2 {
  text-align: center;
}

.page-title > h1 {
  font-size: 2.5rem;
  margin-top: 5px;
}

.page-title > h2 {
  font-size: 1.25rem;
  margin-bottom: 5px;
  font-style: italic;
  font-weight: 400;
}

.page-title > img {
  text-align: center;
  align-self: center;
  width: 50px;
  margin-top: 20px;
}

#about > p {
  padding: 0px 20px;
  text-indent: 20px;
  text-align: justify;
}

.config-step {
  margin-bottom: 20px;
}

.input-wrapper {
  display: flex;
  align-items: center;
}

.input-wrapper > input {
  flex-grow: 1;
}

.center {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.location {
  margin-bottom: 10px;
}

.knowRoles {
  flex-direction: column;
  max-width: 200px;
}

.locations-list {
	display: flex;
	flex-wrap: wrap;
  margin-bottom: 10px;
  min-height: 100vh;
}

.locations-list > div {
	flex-grow: 1;
  width: calc(33% - 9px);
  min-height: 30px;
  align-self: center;
  text-align: center;
  padding: 5px 5px;
  word-break: break-word;
}

/*.locations-ul {
  columns: 3;
}*/

@keyframes rotate-locations {
  0%   {transform: rotate(0deg);}
  48%  {transform: rotate(0deg);}
  50%  {transform: rotate(180deg);}
  98% {transform: rotate(180deg);}
  100% {transform: rotate(360deg);}
}

#locations-ul {
  animation: rotate-locations 30s linear infinite;
}

.text-180 {
  transform: rotate(-180deg);
}

.inpt {
  padding: 10px;
}

.btn {
  height: 40px;
  min-width: 50px;
  margin: 10px 0px;
  padding: 10px;
}

.home-actions {
  flex-direction: column;
}

.home-actions > button {
  align-self: center;
  width: 200px;
}

.mr-10 {
  margin-right: 10px;
}

.ml-10 {
  margin-left: 10px;
}
